/*LOGIN PAGE*/
/* CSS HEX */
/*--gunmetal: #2d3142ff;*/
/*--silver: #bfc0c0ff;*/
/*--white: #ffffffff;*/
/*--coral: #ef8354ff;*/
/*--paynes-gray: #4f5d75ff;*/

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
}

.h1 {
    font-size: 30px;
    color: #2d3142ff;
    margin-bottom: 20px;
}

.mb-3 {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 200px;
    padding: 10px;
    gap: 20px;
    margin-bottom: 0rem !important;
}

.input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #BFC0C0;
}

.auth-button {

    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ef8354ff;
    cursor: pointer;
    color: #4f5d75ff;
    margin-top: 10px;
}

.auth-button:hover {
    color: #ffffff;
    border: 1px solid #ef8354ff;
    background-color: #ef8354ff;
}

.span {
    font-size: 12px;
    text-align: center;
}
