  .carousel-title {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .carousel-content {
    color: #ffffff;
    font-size: 1.2rem;
  }
  
/* i want images in carousel-image class to all occupy similar screen realstate. if the image is larger, whatever part of it comes in the fixed window of 900x300 */

.carousel-image {
  width: 900px;
  height: 300px; /* You can set the desired height */
  object-fit: cover;
}