/* CSS HEX */
/*--gunmetal: #2d3142ff;*/
/*--silver: #bfc0c0ff;*/
/*--white: #ffffffff;*/
/*--coral: #ef8354ff;*/
/*--paynes-gray: #4f5d75ff;*/


.post-area {
    margin-top: 2rem;
}
.post-cards{
    transition: transform .2s;
    
}
.post-cards:hover {
    transform: scale(1.1);
}
.carousel-post-title-home{
    text-shadow: 5px 5px 8px black;
}
.carousel-post-content-home{
    text-shadow: 5px 5px 8px black;
}
.switch-container {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
  }