.post-card {
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.author-info {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.author-picture {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
  object-fit: cover;
}

.post-thumbnail img {
  max-width: 30%;
  height: auto;
  object-fit: cover;
}

.post-actions {
  margin: 10px;
}